Repository ritscc/soukai-2021-2, pull requests merged in 2022-02, with the labels that each got.

#116 最後の総会文書
  src/soukatsu/zentai/02_unei.tex
Labels: 総括, 全体

#114 Fix #55 : 全体方針の執筆
  src/houshin/soumu/01_zentai.tex
Labels: 方針, 総務局

#113 Fix #29：総務局備品総括を執筆
  src/soukatsu/soumu/06_bihin.tex
Labels: 総括, 総務局

#112 Fix #56 : 風紀業務方針の執筆
  src/houshin/soumu/02_huki.tex
Labels: 方針, 総務局

#111 Fix #57 : 掃除業務方針の執筆
  src/houshin/soumu/03_souzi.tex
Labels: 方針, 総務局

#110 Fix #28：総務局会内行事総括を執筆
  src/soukatsu/soumu/05_kainaigyozi.tex
Labels: 総括, 総務局

#108 Fix #26：総務局掃除総括を執筆
  src/soukatsu/soumu/03_souzi.tex
Labels: 総括, 総務局

#107 Fix #58 : 書記業務方針の執筆
  src/houshin/soumu/04_syoki.tex
Labels: 方針, 総務局

#106 Fix #25：総務局風紀総括を執筆
  src/soukatsu/soumu/02_huki.tex
Labels: 総括, 総務局

#105 Fix #59 : 会内行事方針の執筆
  src/houshin/soumu/05_kainaigyozi.tex
Labels: 方針, 総務局

#104 Fix #24：総務局全体総括を執筆
  src/soukatsu/soumu/01_zentai.tex
Labels: 総括, 総務局

#103 Fix #60 : 執筆
  src/houshin/soumu/06_bihin.tex
Labels: 方針, 総務局

#99 3回生総括を執筆
  src/soukatsu/3kai.tex
Labels: 総括, 回生

#98 全体総括を執筆
  src/soukatsu/zentai/01_zentai.tex
Labels: 総括, 全体

#96 シス管勉強会総括を執筆
  src/soukatsu/system/03_study.tex
Labels: 総括, システム管理局

#95 Fix #5 : 2回生総括を執筆
  src/soukatsu/2kai.tex
Labels: 総括, 回生

#94 Fix#45：研推LT方針を執筆
  src/houshin/kensui/03_LT.tex
Labels: 方針, 研究推進局

#93 Fix#44：研推プロジェクト方針を執筆
  src/houshin/kensui/02_project.tex
Labels: 方針, 研究推進局

#92 Fix#43：研推全体方針を執筆
  src/houshin/kensui/01_zentai.tex
Labels: 方針, 研究推進局

#91 Fix＃12：研推LT総括を執筆
  src/soukatsu/kensui/03_LT.tex
Labels: 総括, 研究推進局

#90 Fix＃11：研推プロジェクト総括を執筆
  src/soukatsu/kensui/02_project.tex
Labels: 総括, 研究推進局

#89 Fix #42 : 会計財政方針を執筆
  src/houshin/kaikei/03_zaisei.tex
Labels: 方針, 会計局

#88 Fix #41 : 会計財務方針を執筆
  src/houshin/kaikei/02_zaimu.tex
Labels: 方針, 会計局

#85 Fix #40 : 会計全体方針を執筆
  src/houshin/kaikei/01_zentai.tex
Labels: 方針, 会計局

#84 Fix #9 : 財政総括を執筆
  src/soukatsu/kaikei/02_zaimu.tex
Labels: 総括, 会計局

#83 Fix#54 システム管理局引き継ぎ方針を執筆
  src/houshin/system/05_hikitsugi.tex
Labels: 方針, システム管理局

#82 Fix#23システム管理局新局員総括を執筆
  src/soukatsu/system/06_shinkyokuin.tex
Labels: 総括, システム管理局

#78 会計:全体総括を執筆
  src/soukatsu/kaikei/01_zentai.tex
Labels: 総括, 会計局

#77 シス管全体総括を記述
  src/soukatsu/system/01_zentai.tex
Labels: 総括, システム管理局

#75 新歓方針を記述
  src/houshin/zentai/03_sinkan.tex
Labels: 方針, 全体

#74 全体方針のプロジェクト方針を代わりに記述した
  src/houshin/zentai/05_project.tex
Labels: 方針, 全体

#73 立家方針を代わりに記述
  src/houshin/zentai/06_ritumeihouse.tex
Labels: 方針, 全体

#72 サーバ管理方針の記述
  src/houshin/system/04_server.tex
Labels: 方針, システム管理局

#71 Fix#22 システム管理局引き継ぎ総括執筆
  src/soukatsu/system/05_hikitsugi.tex
Labels: 総括, システム管理局

#70 #21サーバ総括を書きました。usa
  src/soukatsu/system/04_server.tex
Labels: 総括, システム管理局

#68 シス管の全体方針を書きました
  src/houshin/system/01_zentai.tex
Labels: 方針, システム管理局

#66 渉外局全体総括を執筆
  src/soukatsu/syogai/01_zentai.tex
Labels: 総括, 渉外局

#65 渉外局webサイト方針を執筆
  src/houshin/syogai/04_web.tex
Labels: 方針, 渉外局

#64 ３回生方針を執筆
  src/houshin/3kai.tex
Labels: 方針, 回生

#63 システム管理局の方針を執筆
  src/houshin/system/02_kyokukaigi.tex
Labels: 方針, システム管理局

#62 Fix #33 : welゼミ方針を執筆しました
  src/houshin/zentai/04_welcom.tex
Labels: 方針, 全体

#117 コンフリクト解消
  src/soukatsu/kaikei/02_zaimu.tex
  src/soukatsu/kaikei/03_zaisei.tex
Labels: 総括

#119 文責と波線修正
  src/houshin/syogai/02_kyokukaigi.tex
  src/houshin/zentai/07_kaishi.tex
Labels: 方針, 全体, 渉外局

#123 一回生総括を書きました
  src/soukatsu/1kai.tex
Labels: 総括, 回生

#121 システム管理局会議総括を執筆
  src/soukatsu/system/02_kyokukaigi.tex
Labels: 総括, システム管理局

#127 Fix#3：プロジェクト総括修正
  src/soukatsu/kensui/02_project.tex
Labels: 総括, 研究推進局

#125 Fix #30：2022年度前期活動方針
  src/houshin/zentai/01_zentai.tex
Labels: 方針, 全体

#124 Fix＃3：全体のプロジェクト総括を執筆
  src/soukatsu/zentai/03_project.tex
Labels: 総括, 全体

#122 勉強会方針訂正しました
  src/houshin/system/03_study.tex
Labels: 方針, システム管理局

#120 Naoya/gakuensai
  src/houshin/zentai/08_gakuensai.tex
Labels: 方針, 全体

#129 渉外局Twitter方針を執筆
  src/houshin/syogai/03_twitter.tex
Labels: 方針, 渉外局

#130 fix #100
  src/houshin/syogai/01_zentai.tex
  src/soukatsu/syogai/02_kyokukaigi.tex
  src/soukatsu/syogai/03_twitter.tex
Labels: 方針, 総括, 渉外局

#131 subsubsectionに変更
  src/houshin/zentai/04_welcom.tex
Labels: 方針, 全体

#136 文責修正
  src/houshin/kensui/01_zentai.tex
  src/houshin/kensui/02_project.tex
  src/houshin/kensui/03_LT.tex
  src/houshin/zentai/01_zentai.tex
  src/soukatsu/1kai.tex
  src/soukatsu/zentai/03_project.tex
Labels: 方針, 総括, 全体, 回生, 研究推進局
